body {
  font-family: 'Josefin Sans';
}

.calendar {
  width: 22rem;
}

.calendar__month {
  font-size: 20px;
  font-weight: 800;
  padding: 10px 0;
  width: 100%;
  position: relative;
}

.cal-month__previous,
.cal-month__next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
}
.cal-month__previous:hover,
.cal-month__next:hover {
  background-color:#ecafb1;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  font-weight: 800;
  color:#E15356;
}

.cal-month__next {
  right: 0;
}

.cal-month__current {
  text-align: center;
  color :#7E879D;
}

.cal-head__day,
.cal-body__day {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
}

.cal-body__week,
.calendar__head {
  display: block;
  height: 50px;
  width: 350px;
}

.calendar__head {
  line-height: 50px;
  position: relative;
}
.calendar__head:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color:#ecafb1;
}

.cal-body__day {
  color: #ddd;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.cal-day__month--current {
  color:#7E879D;
}

.cal-day__day--today {
  font-weight: 800;
  color: #ecafb1;
}

.cal-day__day--selected {
  background-color: #ecafb1;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  color:#E15356;
}